<html>
<head>
<meta charset="utf-8" />
<title>Isikuandmete vaatamine</title>
</head>
<body>
	<h1>Sa sisestasid järgmised kontaktandmed</h1>
	<table>
		<tr>
			<td>Eesnimi</td>
			<td>${first_name}</td>
		</tr>
		<tr>
			<td>Perenimi</td>
			<td>${last_name}</td>
		</tr>
		<tr>
			<td>Telefon</td>
			<td>${phone}</td>
		</tr>
		<tr>
			<td>E-post</td>
			<td>${email}</td>
		</tr>
	</table>
</body>
</html>
