<html>
<head>
<meta charset="utf-8" />
<title>Isikuandmete sisestamine</title>
</head>
<body>
	<h1>Palun sisesta oma kontaktandmed</h1>
	<form action="view" method="post">
		<table>
			<tr>
				<td>Eesnimi</td>
				<td><input type="text" name="first_name" /></td>
			</tr>
			<tr>
				<td>Perenimi</td>
				<td><input type="text" name="last_name" /></td>
			</tr>
			<tr>
				<td>Telefon</td>
				<td><input type="text" name="phone" /></td>
			</tr>
			<tr>
				<td>E-post</td>
				<td><input type="text" name="email" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Saada" /></td>
			</tr>
		</table>
	</form>
</body>
</html>
